.menu {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);

  .menu-item {
    font-size: 40px;
    margin: 15px;
  }

  .menu-item--active {
    color: #32CD32;
  }
}